.photograph {
  background: url("../../assets/img/pexels-kyle-loftus-2734521.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

// Home
.home {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
  border: 1px solid white;
  border-radius: 10px;
  background: url("../../assets/img/login.jpg") no-repeat center;
  background-size: cover;
}

.content {
  width: 50%;
  text-align: center;
  color: rgb(113, 186, 245);
  margin-top: 50px;

  h1 {
    margin-top: 0px;
    margin-right: 170px;
    font-size: 45px;
  }

  h2 {
    margin-top: 50px;
    font-size: 35px;
  }

  h3 {
    margin-top: 30px;
    font-size: 25px;
  }

  p {
    margin-top: 10px;
    font-size: 25px;
    flex-wrap: wrap;
  }
}

//  Form 

.wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  // backdrop-filter: blur(5px);
}

.form {
  width: 360px;
  min-height: 100px;
  margin: 30px;
  padding: 25px 24px;
  text-align: center;
  // border: 1px solid white;
  box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
  align-self: center;

  h1 {
    margin-bottom: 12px;
    color: yellow;
  }

  p {
    color: #16eb60;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.spacer {
  margin-top: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-label {
  text-align: left;
  color: yellow;
}

.form-control {
  height: 40px;
  border-radius: 4px;
  border: 1px solid #00ff37;
  padding: 8px 12px;  
  outline: none;
  font-size: 1.6rem;
  // background-color: transparent;
  // color: white;

  &:hover {
    border-color: white;
  }
}



.invalid  {
  color: #f33a58;
}

.form-message {
  text-align: left;
  font-size: 1.8rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
  color: #f33a58;

}

.btn_register {
  padding: 10px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  background-color: #d373b3;
  color: #fff;
  width: 100%;
  cursor: pointer;
  margin-top: 12px;

  &:hover {
    transform: scale(1.05);
    background-color: #da1397;
  }
}
