.contentRight {
}

.heading {
    margin-left: 20px;
    margin: 30px 0;
    font-size: 30px;
}

.listIcon {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.item {
}
.image {
    margin-bottom: 5px;

}
.title{
    margin-bottom: 7px;
    font-weight: 700;
} 

.line { 
    border-bottom: 1px solid red;  
    width: 140px;
}

.textContent {
    margin-top: 50px;
}

.paragraph {
    margin: 0 20px;
    font-size: 20px;
}

