.date {
  display: flex;
  flex-direction: column;
}

.borderRight {
  border-right: 2px solid gray;
}

.btnDelete {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  cursor: pointer;
}
