* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
  overflow-y: overlay;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

// animation
@keyframes slideLeftToRight {
  0% {
    width: 0;
    background-color: #ff0f7b;
  }

  50% {
    background-color: #ffed00;
  }

  100% {
    width: 100%;
    background-color: #00ff87;
  }
}

// style

.black {
  color: black;
}

.white {
  color: white;
}

.red {
  color: red;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}
