.listLink {
  margin: 70px auto;
  width: 370px;
  margin-top: 50px;
}

.itemLink {
  border-bottom: 1px solid rgb(128, 124, 124);

  &:hover {
    border-left: 10px solid #d6a022;
    border-bottom: 1px solid #d6a022;
    background-color: #ffffff;
  }
}

.text {
  padding: 20px 0;
  font-weight: 600;
  font-size: 20px;
  color: #252525;
  margin-left: 45px;
}
