.listLink {
  margin: 70px auto;
  width: 370px;
  margin-top: 50px;
}
 
.link {
  cursor: pointer;
  padding: 20px 0;
  margin-bottom: 0;
  border-bottom: 1px solid rgb(128, 124, 124);

  &:hover {
    border-left: 10px solid #d6a022;
    background-color: #ffffff;
  }
}

.textLink {
  font-weight: 700;
  font-size: 2rem;
  color: #252525;
  margin-left: 23px;
}
