.date {
  display: flex;
  flex-direction: column;
}

.borderRight {
  border-right: 1px solid rgb(221, 210, 210);
}

.borderLeft {
  border-left: 1px solid rgb(221, 210, 210);
}

.btnDelete {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  cursor: pointer;
}
