.wrapper {
  // padding: 0 15px;
}

.title {
  color: white;
  text-align: left;
  padding: 8px 10px;
  font-weight: 700;

  &:hover {
    background-color: #d6a022;
  }
}

.title a {
  color: white !important;
}
