.wrapper {
  margin: 0 150px;
}

.rowFirst {
  margin: 50px 0;
}

// Left

.imageTour {
  height: 400px;
  width: 500px;
  border-radius: 10px;
}

// Right

.table {
  //   border: 1px solid blue;
}

.itemInfo {
  //   border: 1px solid red;
  border-bottom: 1px solid #000;
  margin: 10px 0;
}

.icon {
  margin-right: 10px;
  margin-top: 3px;
  svg {
    font-size: 20px;
  }
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.text {
  font-size: 20px;
  float: right;
}
