.fw-600px {
  font-weight: 800;
}

.poiter {
  cursor: pointer;
}

.xanhBlueMo {
  color: #26bed6;
}

.imageTour {
  width: 100%;
  height: 450px;
  text-align: center;
  object-fit: cover;
}

.DescTour {
  color: #003c71;
  padding: 10px 50px;

  h1 {
    font-weight: 900;
    font-size: 38px;
  }
}

.bge3e7ed {
  background-color: #e3e7ed;
  color: #50535d;
  font-weight: bold;
}

// ===================

// bgProcessTour

.bgProcessTour {
  background-color: #ecf0f5;
}

.detailTour {
  padding: 0 50px;
}

.detailTour > .processTour {
  .desctiptionTour {
    background-color: white;
    border-bottom: 10px solid rgb(236 240 245);
    padding: 20px 20px;

    .desTour {
      font-size: 18px;
    }
  }

  .desProcessTour {
    background-color: white;

    border-bottom: 10px solid rgb(236 240 245);
    padding: 20px 20px;

    img {
      display: block;
      margin: 0 auto;
    }

    h5 {
      text-align: center;
      font-size: 18px;
    }

    .desTour {
      font-size: 18px;
    }
  }
}

.detailTour > .calendar {
  padding: 0 20px;
  .infoCalendar {
    background-color: white;
    padding: 20px;
    position: sticky;
    top: 0;

    .title {
      font-size: 20px;
      font-weight: bold;
      color: #003c71;
      margin-bottom: 10px;
    }

    .date {
      border: 1px solid rgba(0, 0, 0, 0.281);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
      cursor: pointer;
    }

    .date.active {
      border: 2px solid rgba(0, 0, 255, 0.575);
    }

    .btnLienHe {
      border: 2px solid #f79321;
      color: #f79321;
      background-color: transparent;
      border-radius: 5px;
      font-size: 18px;
      font-weight: 550;
      padding: 8px 15px;
      min-width: 147px;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        background-color: #f79321;
        color: white;
      }
    }

    .btnYeuCau {
      border: 2px solid #f79321;
      background-color: #f79321;
      color: white;
      border-radius: 5px;
      font-size: 18px;
      font-weight: 550;
      padding: 8px 15px;
      min-width: 147px;
      cursor: pointer;

      &:hover {
        background-color: #f9ab52;
      }
    }
  }

  .advise {
    margin-top: 20px;
    background-color: white;
  }
}

.atTop {
  position: fixed;
  top: 0;
  right: 30px;
}
