.wrapper {
}

.sideLeft {
  background-color: #f9f9f9;
}

.sideRight {
  margin: 30px 15px;
}

.heading {
  color: #00396b;
  font-size: 3.5rem;
  margin-bottom: 15px;
}

.itemContent {
  margin: 50px 0;
}

.title {
  border-left: 10px solid #d6a022;

  h1 {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 130%;
    color: #686868;
    margin-bottom: 20px;
    margin-left: 50px;
    width: 700px;
  }
}

.text {
  font-size: 2rem;
}

.image {
  margin: 25px 0;
}

.titleValue {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  align-items: center;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 130%;
  color: #686868;
  margin-bottom: 20px;
  margin-left: 50px;
  width: 700px;
}

// ==================== RIGHT =====================
.contentRight {
  margin: 50px 0;
}

.historyTitle {
  color: #00396b;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
}

// Carousel

.carousel {
  height: 450px;
  width: 850px;
  position: relative;
}

.carousel::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.397);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carouselItem {
}

.itemYear {
}

.imageCarouse {
  width: 850px;
}

// ITEM

.itemYear {
  position: relative;
  z-index: 10000;

  .year {
    color: #f7f779;
    font-weight: 800;
    font-size: 4.5rem;
    margin-bottom: 150px;
  }

  .contentYear {
    font-size: 2rem;
    border-left: 10px solid #f7f779;
    font-weight: 700;
    color: white;
  }
}
