.wrapper {
  border-radius: 10px;
  width: 300px;
  height: 100%;
  position: relative;
}

.menu {
  position: absolute;
  top: 30px;
  width: 100%;
}

.item {
  margin: 30px 0;
}

.item.active a {
  background-color: blue;

  span {
    color: white;
  }
}

.item a {
  border: 1px solid red;
  border-radius: 10px;
  width: 250px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item_left {
  svg {
    color: black;
    font-size: 22px;
    margin-right: 13px;
    margin-bottom: 10px;
  }

  span {
    font-size: 23px;
    font-weight: 600;
    color: black;
  }
}

.content {
  width: 100%;
}
