@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Merriweather:wght@300&family=Oswald&family=Rubik+Iso&family=Young+Serif&display=swap");

.bodyWrapper {
  padding: 20px;
}

.customInput {
  font-size: 15px;
  padding: 7px;
  border: 1px solid blue;
  text-transform: uppercase;
}

.formCreateTour {
  .title {
    font-family: "Merriweather", serif;
    font-weight: 600;
  }

  .selectImage {
    border: 1px solid blue;
    cursor: pointer;
    min-height: 100px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }

  .selectImage:hover {
    transform: scale(1.05);
  }
}

// Des quill
.description {
  .formDes {
  }
}

// Button create TOur
.submitFormBTN {
  margin: 50px 0 100px 0;
  text-align: center;

  button {
    border: none;
    background-color: green;
    padding: 10px 80px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    transition: 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
