@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Merriweather:wght@300&family=Oswald&family=Rubik+Iso&display=swap");

.wrapper {
}

.bodyWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  gap: 20px;
  flex-wrap: wrap;
}

.sideLeft {
  padding-left: 40px;
  flex: 1;
  margin-bottom: 22px;
  h1 {
    font-size: 55px;
    padding: 15px 0;
    font-family: "Merriweather", serif;
    margin-bottom: 30px;
  }
}

.sideRight {
  width: 500px;
  img {
    height: 500px;
    width: 100%;
    min-width: 500px;
    margin-right: 50px;
  }
}
