@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Oswald&family=Rubik+Iso&display=swap");

:root {
  --primary: #625bfe;
  --text: #0f192d;
  --text-gray: #5a678c;
  --gray: #c0bcff;
  --error: #e3452f;
}

.header {
  height: 70px;
  width: 100%;
  background-color: var(--primary);
  position: relative;
}

.navHeader {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 70px;
}

.logo a {
  font-family: "Rubik Iso", cursive;
  color: white;
}

.info .iconUser {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid white;
  margin-left: 10px;
}

.info .iconNoti,
.info .iconMes {
  color: white;
  height: 40px;
  width: 40px;
  margin: 0 15px;
  font-weight: 600;
}

.info .iconNoti {
}

// ========= FORM =======

.formInfo {
  position: absolute;
  right: 3px;
  top: 72px;
  min-width: 240px;
  border-radius: 10px;
  opacity: 0;
  transition: 1s;
  background-color: rgb(233, 213, 216);
  z-index: 1;
  display: none;
}

.formInfo.active {
  display: block;
  opacity: 1;
}

.infoUser {
  text-align: start;
  margin-left: 17px;

  
}

.items ul {
  padding: 0;
}

.items ul li {
  padding: 0 10px;
}

.items ul li a {
  color: black;
  font-size: 18px;

  svg {
    margin-right: 10px;
  }
}

.items ul li:nth-child(2) {
  border-bottom: 1px solid var(--gray);
}

.items ul li:nth-child(4) {
  border-bottom: 1px solid var(--gray);
}
