:root {
  --primaryColor: #00396b;
}

.main {
  margin: 0 25px;
}

.nav {
  height: 500px;
}

// Introduction
.introduction {
  text-align: center;
  height: 130px ;
}

.introduction-first {

}

.introduction-second {

}
// end Introduction

// Start paragraph

.btn {
  background-color: #d6a022;
  border: none;
  color: white;
  padding: 15px;
}

.text {
  font-size: 23px;
}

.imageList {
  text-align: center;
}

.cardImage {
}

// End paragraph


.imageTravel {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  margin-bottom: 25px;
  object-fit: cover;
  cursor: pointer;

  &:hover {
    transform: scale(1.05) ;
    transition: 1s;
  }
}

