@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

:root {
  --primaryColor: #00396b;
}

.main {
  margin: 0 65px;
}

.nav {
  position: relative;
}

.notification {
  padding: 27px;
  width: 600px;
  left: 100px;
  bottom: 0px;
  position: absolute;
  color: white;
  background: rgba(0, 38, 72, 0.8);
  border-left: 15px solid #eca500;

  h2 {
    font-size: 28px;
    font-weight: 800;
    color: #eca500;
  }

  h1 {
    margin: 10px 0;
  }

  p {
    width: 97%;
  }
}

// Introduction
.introduction {
  text-align: center;
  margin: 50px  auto 10px auto;
  height: 130px;

  .lineIntro {
    width: 400px;
    height: 12px;
    background: linear-gradient(
      90deg,
      hsla(333, 100%, 53%, 1) 0%,
      hsla(33, 94%, 57%, 1) 100%
    );
  }
}

// end Introduction

// Start paragraph

.btn {
  background-color: #d6a022;
  border: none;
  color: white;
  padding: 15px;
}

.text {
  font-size: 19px;
}

.imageList {
  text-align: center;
}

.cardImage {
}

// End paragraph

.figure {
  width: 350px;
  height: 300px;
}

.imageTravel {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin-bottom: 25px;
  object-fit: cover;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    transform: scale(1.5);
  }
}

.video {
  margin-left: 50px;

  video {
    width: 650px;
    height: 400px;
  }
}

// ======================================================
.background {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 80px 32px;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  max-width: 1200px;
  gap: 24px;
}

 