.wrapper {
}

.header {
  width: 100%;
  height: 94px;
  background-color: #00396b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list_link {
  margin-left: 30px;
  display: flex;

  .itemLink {
    margin: 0 20px;

    &:hover {
      transform: scale(1.1);
    }
  }

  a {
    font-size: 20px;
    font-weight: 700;
    color: white;
  }
} 

.buttonauthen {
  margin-right: 30px;
}

.btn_red {
  border: 1px solid red;
  color: white;
  background-color: red;

  &:hover {
    
  }
}

.btn_log {
  border: 1px solid green;
  color: white;
  background-color: green;

  &:hover {
    background-color: green;
    color: white;
  }
}
