// Header
.domainTour {
  h1 {
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 50px;
  }
}

// List Tour
.bodyWrapper {
  margin: 10px 100px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
