.wrapper {
}

.header {
    
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: transparent;
    align-items: center;
}

.list_link {
    margin-left: 30px;
    display: flex;

    li {
        margin: 0 20px;

        &:hover {
            transform: scale(1.1);
        }
    }

    a {
        color: white;
        font-size: 15px;
        font-weight: 700;

        
    }
}

// Button

.buttonauthen {
    margin-right: 30px;
}

.btn_log,
.btn_reg {
    color: white;
    border: 1px solid white;
    background-color: transparent;
}

.btn_log {

}


